body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
    transition: border-color 0.3s;
    border-color:#ddd ;
}

input[type="text"]:focus {
    border-color: #1896df;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}
